{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "es6",
    "strict": true
  },
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript"
    }
  }
}
